/* 主容器布局 */
div#index {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 3rem;
    bottom: 0;
    left: 0;
    right: 0;
}

/* 侧边栏 */
div#side {
    display: flex;
    justify-content: space-between;
    z-index: 5;
    width: 35rem;
    box-shadow: 1px 0 3px 0 #000a;
    border-radius: 0 1rem 1rem 0;
    background-color: #9099a2;
    font-family: "Source Han Sans SC Medium";
    overflow: hidden;
    opacity: 1;
    transition: all .5s;
}

/* 主内容区域 */
div#main {
    margin: 3rem 3%;
    width: 80%;
    font-family: "Source Han Serif CN";
    overflow-y: auto;
    transition: all .3s;
}